<!DOCTYPE html>
<html lang="en">
create news

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center><br><br>
        <form action="" method="" post, enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit"> save </button>

        </form>
        <!-- <a href="{% url 'uy' %}">назад</a>

    <form method="post", enctype="multipart/form-data">
        {% csrf_token %}

        <input type="text" , name="sarlavha" , placeholder="... ">
        <br><br>
        <input type="text" , name="matn" , placeholder="ведите текст">
        <br><br>
        <input type="file" , name="rasm"> -->

        <!-- <button type="submit"> save </button> -->




        </form>

</body>

</html>