<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit page</h1>
    <h3>{{edit_news.sarlavha}}</h3>
    <p>{{edit_news.matn}}</p>
    <form action="" method="post">
        {% csrf_token %}
        <textarea name = "sarlavha" id="" cols="30" rows="3">{{edit_news.sarlavha}}</textarea>
        <br><br>
        <textarea name = "matn" id="" cols="30" rows="10">{{edit_news.matn}}</textarea>
        <button type="submit">save</button>




    </form>
</body>
</html>